[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab1
Exec=/usr/bin/ru.auroraos.lab1
Name=lab1
Name[ru]=lab1

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lab1
ExecDBus=/usr/bin/ru.auroraos.lab1
